*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#calc
{
    display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100%;
}
#content {
    background: #2c302c;
    padding: 20px;
    border-radius: 10px;
}#content form input{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
    margin: 10px;
    outline: none;
}
#backspace {
    background-color: rgb(237, 89, 30);
    color: white;
}
#res
{
    padding: 10px;
}
#clear {
    background-color: rgb(237, 89, 30);
    color: white;
}form #output{
    justify-content: flex-end;
    display: flex;
    margin: 15px 0;
}
form #output input {
    text-align: right;
    flex: 1;
    font-size: 25px;
}